{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks!</title>
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
</head>
<body>
    <div class="banner">

        <div class="content">
            <h1>Увалы - лыжня с вековой историей!</h1>
                <ul>
                    <li>Местная пресса 1900 года пишет о массовых лыжных прогулках на Тумановой горе
                    (неподалёку от Увал).</li>

                                <li>Городские лыжные соревнования состоялись в 1925 году.</li>
                    <img src="/media/frontend/img.png" alt="" class="logo">

                    <li>В 1986 году на Увалах прошли Всероссийские соревнования на приз Т.С. Мальцева.</li>
                    <li>В них приняли участие спортсмены из 34 областей, в том числе и лыжники Шадринска.</li>
                </ul>
            <div>
                <button class="button" onclick="window.location.href='/'"><span></span>На главную</button>
            </div>
        </div>
    </div>
</body>
</html>