{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="{% static 'css/lending_page.css' %}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/media/frontend/logo1.png" alt="" class="logo">
            <ul>
                <li><a href="history/">Историческая справка</a></li>
                <li><a href="https://vk.com/shadrinsk.official">Техническая поддержка</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Оставьте своё мнение</h1>
            <p>Спроектируйте "Звёздные Увалы"</p>
            <div>
                <button class="button" onclick="window.location.href='/survey/about'"><span></span>Пройти опрос</button>
            </div>
        </div>
    </div>
</body>
</html>